<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="header center-align teal-text text-lighten-2">Your followers</h1>

  <div class="row">
    <% @followings.each do |following| %>
        <div class="col s6 m3 l3 offset-l1">
          <div class="card z-depth-5">
            <div class="card-image">
              <%= link_to image_tag(following.img_url, class: 'circle responsive-img center-align'), following %>
              <%= link_to user_following_path(@user.id, following), method: :delete, class: 'halfway-fab red btn-floating' , data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons">delete</i>
              <% end %>
            </div>
            <div class="card-content">
              <span class="card-title"><%= following.name %></span>
            </div>
          </div>
        </div>
    <% end %>
      <div class="fixed-action-btn">
        <%= link_to new_user_following_path, class: 'btn-floating btn-large teal lighten-2' do %>
            <i class="large material-icons">add</i>
        <% end %>
      </div>
  </div>
</div>