<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>People you follow </h1>

  <div class="users">
    <% @followings.each do |following| %>
      <div class="user">
        <%= link_to image_tag(following.img_url), following %>
            <h2 class="text-center"><%= following.name %></h2>
        <div class="buttons">
            <%= link_to user_following_path(@user.id, following), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash', class: 'fa-2x', title:'Delete user from your list') %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="user">
    <%= link_to new_user_following_path do %>
      <div class="placeholder"></div>
    <% end %>
  </div>
</div>