<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>People you don't follow </h1>

  <div class="users">
    <% @not_followings.each do |not_following| %>
      <div class="user">
        <%= link_to image_tag(not_following.img_url), not_following %>
            <h2 class="text-center"><%= not_following.name %></h2>
        <div class="buttons">
            <%= link_to user_following_path(@user.id, not_following), method: :put do %>
              <%= icon('plus', class: 'fa-2x', title:'Follow this user') %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>