<div class="container">
  <div class="page-header">
    <h1>Users</h1>
  </div>


  <div class="row">
    <% @users.each do |user| %>
        <div class="col-md-2 col-sm-3 user">
          <img class="img-responsive img-circle" src="<%= user.img_url %>" alt="<%= user.img_url %>">
          <h2 class="text-center"><%= user.name %></h2>

          <div id="buttons">
              <%= link_to 'Show', user, class: "btn btn-primary" %>
              <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
    <% end %>

  </div>

<br>

<%= link_to 'New User', new_user_path %>
</div>