<div class="container">
  <h1 class="header center-align">Welcome !</h1>

  <div class="users">
    <% @users.each do |user| %>
        <div class="user">
          <%= link_to image_tag(user.img_url, class: 'circle responsive-img center-align'), user %>
          <h4 class="center-align"><%= user.name %></h4>

          <div class="buttons center-align">
              <%= link_to edit_user_path(user) do %>
                <%= icon('edit', class: 'fa-2x', title:'Edit user') %>
              <% end %>
              <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= icon('trash', class: 'fa-2x', title:'Delete user') %>
              <% end %>
          </div>
        </div>
    <% end %>
    <div class="user">
      <%= link_to new_user_path do %>
        <div class="placeholder"></div>
      <% end %>
    </div>

  </div>

<br>
</div>