<ul style="width: 300px;" class="side-nav fixed show">
  <li>
    <div class="userView">
      <div class="background"></div>
      <a href="#!user"><%= image_tag(@user.img_url, class:'circle') %></a>
      <a href="#!name"><span class="white-text name"><%= @user.name %></span></a>
    </div>
  </li>
  <div class="collection">
    <a href="#!" class="collection-item"><span class="badge"><%= @user.followers.count %></span>Followers</a>
    <a href="#!" class="collection-item waves-effect"><span class="badge"><%= @user.followings.size %></span>Followings</a>
  </div>
</ul>
<p>
  <strong> Posts :</strong>
</p>

<% @posts.each do |post| %>
  <div>
    <p> <%= post.content %></p>
  </div>
<% end %>

<% render 'posts/form', 'post': @new_post, 'user': @user  %>