<ul style="width: 300px;" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
          <!--<img src="http://lorempicsum.com/nemo/350/200/1">-->
      </div>
      <a href="#!user"><%= image_tag(@user.img_url, class:'circle') %></a>
      <a href="#!name"><span class="white-text name"><%= @user.name %></span></a>
    </div>
  </li>
  <div class="collection">
    <a href="#!" class="collection-item"><span class="badge"><%= @user.followers.count %></span>Followers</a>
    <a href="#!" class="collection-item waves-effect"><span class="badge"><%= @user.followings.size %></span>Followings</a>
  </div>
</ul>







<div class="user">

  <h1><%= @user.name %></h1>

  <div class="buttons">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Followers', user_followers_path(@user) %> |
    <%= link_to 'Following', user_followings_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>


