<%= form_for post, url: user_posts_path(@user) do |f| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <i class="material-icons prefix">mode_edit</i>
    <%= f.text_area :content, class: "materialize-textarea" %>
    <%= f.label :content, "Share your mood!" %>
    <%=
      f.button class: "modal-action modal-close waves-effect btn-flat teal lighten-2 white-text"
    %>
<% end %>