<header>
  <ul class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background teal lighten-2"></div>
        <a href="<%= user_path(@user) %>"><%= image_tag(@user.img_url, class:'circle z-depth-2') %></a>
        <a href="<%= user_path(@user) %>"><span class="white-text name"><%= @user.name %></span></a>
      </div>
    </li>
    <div class="collection">
      <a href="<%= user_followers_path(@user) %>" class="collection-item"><span class="badge"><%= @user.followers.count %></span>Followers</a>
      <a href="<%= user_followings_path(@user) %>" class="collection-item waves-effect"><span class="badge"><%= @user.followings.size %></span>Followings</a>
      <a href="<%= user_posts_path(@user) %>" class="collection-item waves-effect"><span class="badge"><%= @user.posts.size %></span>My Posts</a>
    </div>
  </ul>
</header>

<main style="padding-left: 300px;">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col s12 m9 l8 offset-l1">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="valign-wrapper">
                  <div class="col s2 l2">
                    <img src="<%= post.user.img_url %>" alt="" class="circle responsive-img z-depth-2">
                  </div>
                  <div class="col s8 l8">
                    <h5 class=""> <%= post.user.name %> </h5>
                  </div>
                  <div class="col s2 l2 grey-text text-lighten-1">
                    <%= post.created_at.to_date %>
                  </div>
                </div>
                <div class="col s12 l8 offset-l2">
                  <%= post.content %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</main>



<!-- Modal Trigger -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a onclick="$('#modal1').modal('open');" id="menu" class="btn btn-floating btn-large teal lighten-2"><i class="material-icons">comment</i></a>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="container">
        <div class="input-field col s12">
            <%= render 'posts/form', post: @new_post %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('#modal1').modal();
    $('input#input_text, textarea#textarea1').characterCounter();
});
</script>